services:
  server:
    container_name: speech-diarization-api
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/arm64
    ports:
      - "8000:8000"
    volumes:
      - huggingface-cache:/home/appuser/.cache/huggingface
    environment:
      - PYTHONUNBUFFERED=1

volumes:
  huggingface-cache:

